<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>衣带渐宽终不悔</string>
    <string>为伊消得人憔悴</string>
    <string>故国不堪回首明月中</string>
    <string>人生若只如初见</string>
</array>
</plist>